@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Signika:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --nav-color-bg: #fbf3e4;
  --about-qoach-bg: #00504e;
  --white-Color: #ffff;
  font-size: 62.5%;
}

/***** Global css *****/

.transparent {
  padding: 0.3rem 1.9rem;
  background: transparent;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  border: 1.8px solid #303030;
  font-weight: 500;
  font-size: 1.7rem;
}

.icon {
  font-size: 3.8rem;
  color: #964b00;
}

.Active {
  color: #c06000 !important;
  font-weight: bold;
}

/***** End Global css *****/

/***** Header Section *****/

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7rem;
  padding: 0 4%;
  background: var(--nav-color-bg);

  & .logoContainer {
    text-align: center;
  }

  & .rightContainer {
    display: flex;
    align-items: center;
    gap: 3rem;

    & .navLinks {
      display: flex;
      align-items: center;
      gap: 3rem;
      font-size: 1.8rem;
      font-weight: 500;

      & a {
        text-decoration: none;
        color: #000000;
      }
    }

    & .btnContainer {
      display: flex;
      gap: 2rem;
      align-items: center;

      & .menu {
        width: 4.5rem;
        height: 4.5rem;
        display: none;
        cursor: pointer;

        & img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

/***** End Header Section *****/

/***** AboutQoachDetails Section *****/

.about-container {
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-items: center;
  align-items: center;
  padding: 0 4%;
  background-color: var(--about-qoach-bg);
  position: relative;
  opacity: 0.99;
  padding: 5rem;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../public/about-qocha-bg.png");
    opacity: 0.08; /* Adjust the opacity as needed */
    z-index: -1; /* Ensure the pseudo-element is behind the content */
  }

  & .text-section {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-size: 1.9rem;
    color: var(--white-Color);
    width: 90%;
    padding: 2rem;

    & h2 {
      text-align: center;
    }
  }
  & .image-section {
    width: 44rem;
    height: 38rem;

    & img {
      width: 100%;
      height: 100%;
    }
  }
}

/***** AboutQoachDetails End Section *****/

/***** Our Vision Section *****/

.visionContainer {
  height: fit-content;
  background-color: var(--nav-color-bg);
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;

  & .mainContent {
    max-width: 90%;
    margin: 0 auto;
  }

  & .heading {
    font-size: 1.9rem;
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  & .content {
    font-size: 1.7rem;
    max-width: 85%;
  }
}

/***** End Our Vision Section *****/

/***** CCOcontainer Section *****/

.CCOcontainer {
  height: fit-content;

  & header {
    text-align: center;
    padding: 2rem;
    font-size: 2.8rem;
    color: #964b00;
    font-weight: 500;
    letter-spacing: 0.8rem;
  }

  & .msgContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    padding: 5rem;
    max-width: 95%;
    margin: 0 auto;

    & .profileImage {
      width: 40rem;
      height: 49rem;
      border: 1px solid #00504e;
      border-radius: 3rem;
      -webkit-border-radius: 3rem;
      -moz-border-radius: 3rem;
      -ms-border-radius: 3rem;
      -o-border-radius: 3rem;
      padding-bottom: 2.5rem;

      & img {
        width: 100%;
        height: 90%;
        object-fit: cover;
        border-radius: 3rem;
        -webkit-border-radius: 3rem;
        -moz-border-radius: 3rem;
        -ms-border-radius: 3rem;
        -o-border-radius: 3rem;
        margin-bottom: 1rem;
      }

      & p {
        font-weight: bold;
        font-size: 1.5rem;
        padding-left: 2rem;
      }
    }

    & .txtCon {
      font-size: 1.8rem;
      color: #00504e;
      font-weight: 450;
    }
  }

  & .invite {
    font-weight: bold;
    font-size: 1.7rem;
    max-width: 75%;
    margin: 0 auto;
    text-align: center;
    color: #00504e;
  }

  & .thanks {
    text-align: center;
    margin-top: 3rem;
    font-size: 3rem;
    font-weight: 500;
    color: #00504e;
  }
}

/***** End CCOcontainer Section *****/

/***** CoreValues Section *****/

.CoreValues {
  height: fit-content;
  background-color: #00504e;
  padding: 5rem;

  & header {
    text-align: center;
    padding: 0rem 0 4rem 0;
    font-size: 2rem;
    color: var(--white-Color);
  }

  & .cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
    align-items: center;

    & .card {
      width: 42rem;

      display: flex;
      gap: 1rem;
      color: #fff;
      & .icon {
        color: #ff962c;
        font-size: 5rem;
      }

      & .title {
        font-weight: bold;
        font-size: 2rem;
      }

      & .contents {
        font-size: 1.8rem;
      }
    }
  }
}

/***** End CoreValues Section *****/

/***** Responsiveness Section *****/

@media screen and (width < 1048px) {
  :root {
    font-size: 59%;
  }
}

@media screen and (width < 988px) {
  nav {
    justify-content: space-between;

    & .logoContainer {
      flex: 0;
    }

    & .rightContainer {
      & .navLinks {
        display: none;
      }

      & .btnContainer {
        & .menu {
          display: block;
        }
      }
    }
  }

  :root {
    font-size: 57%;
  }

  .CCOcontainer {
    & .msgContainer {
      grid-template-columns: 1fr;
      gap: 4rem;
    }
  }
}

@media screen and (width < 860px) {
  .about-container {
    padding: 3rem;
  }
}

@media screen and (width < 788px) {
  :root {
    font-size: 55%;
  }

  .about-container {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
  .visionContainer {
    & .mainContent {
      max-width: 96%;
    }
  }
}

@media screen and (width < 648px) {
  :root {
    font-size: 50%;
  }
  .visionContainer {
    & .content {
      max-width: 100%;
    }
  }
  .CCOcontainer {
    & .invite {
      max-width: 90%;
    }
  }
}

@media screen and (width < 468px) {
  :root {
    font-size: 47%;
  }
}
/***** End Responsiveness Section *****/
