@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Signika:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --nav-color-bg: #fbf3e4;
  --about-qoach-bg: #00504e;
  --white-Color: #ffff;
  font-size: 62.5%;
}

/***** Global css *****/

.pd {
  padding: 7rem !important;
}
.lh {
  line-height: 4.6rem;
}
.br {
  border-radius: 2rem !important;
  -webkit-border-radius: 2rem !important;
  -moz-border-radius: 2rem !important;
  -ms-border-radius: 2rem !important;
  -o-border-radius: 2rem !important;
}
h1 {
  font-size: 3.5rem !important;
}

.navbar-toggler {
  display: none;
}

.card-title {
  font-weight: 600;
}

.bolder {
  font-weight: 700;
}

.l-s {
  letter-spacing: 0.7rem;
  color: #964b00;
}

.card {
  width: 28rem !important;
  height: fit-content;
  border-radius: 3rem !important;
  -webkit-border-radius: 3rem !important;
  -moz-border-radius: 3rem !important;
  -ms-border-radius: 3rem !important;
  -o-border-radius: 3rem !important;

  &:nth-child(2) {
    background-color: var(--nav-color-bg);
  }
}

.btns {
  font-size: 1.8rem !important;
  border: 2px solid #000 !important;
  padding: 0 2rem;
  background: transparent;
  border-radius: 1rem !important;
  -webkit-border-radius: 1rem !important;
  -moz-border-radius: 1rem !important;
  -ms-border-radius: 1rem !important;
  -o-border-radius: 1rem !important;
}

.mt {
  margin-top: 14rem !important;
}
.btn-primary {
  background-color: #00504e !important;
  color: var(--white-Color) !important;
}

.transparent {
  padding: 0.3rem 1.9rem;
  background: transparent;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  border: 1.8px solid #303030;
  font-weight: 500;
  font-size: 1.7rem;
}

.icon {
  font-size: 3.8rem;
  color: #964b00;
}

.Active {
  color: #ec7b09 !important;
  font-weight: bold;
}

.sideBar {
  width: 25rem !important;
  background: var(--nav-color-bg) !important;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
}

.stats-section {
  background: #003130;
  color: white;
  padding: 4rem 0;
  opacity: 0.99;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../public/about-qocha-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.07;
  }
}

.whyQoacha {
  background: #002c2b;
  color: white;
  opacity: 0.99;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../public/about-qocha-bg.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.06;
  }

  & .l-s {
    color: var(--nav-color-bg);
  }

  & .bg {
    background: var(--nav-color-bg);
  }

  & .image_Container {
    width: 38rem !important;
    height: 38rem !important;

    & img {
      width: 100%;
      height: 100%;
    }
  }
}
.ccss {
  position: relative;
  border: 2px solid #929292dd;

  &:nth-child(1) {
    background: var(--nav-color-bg) !important;
  }

  & .tags {
    position: absolute;
    top: 2rem;
    right: -1.2rem;
  }
}

.stats-section .stat {
  text-align: center;
}
.stats-section .stat h2 {
  font-weight: 900;
  font-size: 2.5rem;
}

/***** End Global css *****/

/***** Header Section *****/

nav {
  padding: 0 4%;
  background: var(--nav-color-bg);
}

/***** End Header Section *****/

/***** AboutQoachDetails Section *****/

.about-container {
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-items: center;
  align-items: center;
  padding: 0 4%;
  background-color: var(--about-qoach-bg);
  position: relative;
  opacity: 0.99;
  padding: 5rem;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../public/about-qocha-bg.png");
    opacity: 0.08; /* Adjust the opacity as needed */
    z-index: -1; /* Ensure the pseudo-element is behind the content */
  }

  & .text-section {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-size: 1.9rem;
    color: var(--white-Color);
    width: 90%;
    padding: 2rem;
    margin-top: 4rem;

    & h2 {
      text-align: center;
    }
  }
  & .image-section {
    width: 44rem;
    height: 38rem;

    & img {
      width: 100%;
      height: 100%;
    }
  }
}

/***** AboutQoachDetails End Section *****/

/***** Our Vision Section *****/

.visionContainer {
  height: fit-content;
  background-color: var(--nav-color-bg);
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;

  & .mainContent {
    max-width: 90%;
    margin: 0 auto;
  }

  & .heading {
    font-size: 1.9rem;
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  & .content {
    font-size: 1.7rem;
    max-width: 85%;
  }
}

/***** End Our Vision Section *****/

/***** CCOcontainer Section *****/

.CCOcontainer {
  height: fit-content;

  & header {
    text-align: center;
    padding: 2rem;
    font-size: 2.8rem;
    color: #964b00;
    font-weight: 500;
    letter-spacing: 0.8rem;
  }

  & .msgContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    padding: 5rem;
    max-width: 95%;
    margin: 0 auto;

    & .profileImage {
      width: 40rem;
      height: 49rem;
      border: 1px solid #00504e;
      border-radius: 3rem;
      -webkit-border-radius: 3rem;
      -moz-border-radius: 3rem;
      -ms-border-radius: 3rem;
      -o-border-radius: 3rem;
      padding-bottom: 2.5rem;

      & img {
        width: 100%;
        height: 90%;
        object-fit: cover;
        border-radius: 3rem;
        -webkit-border-radius: 3rem;
        -moz-border-radius: 3rem;
        -ms-border-radius: 3rem;
        -o-border-radius: 3rem;
        margin-bottom: 1rem;
      }

      & p {
        font-weight: bold;
        font-size: 1.5rem;
        padding-left: 2rem;
      }
    }

    & .txtCon {
      font-size: 1.8rem;
      color: #00504e;
      font-weight: 450;
    }
  }

  & .invite {
    font-weight: bold;
    font-size: 1.7rem;
    max-width: 75%;
    margin: 0 auto;
    text-align: center;
    color: #00504e;
  }

  & .thanks {
    text-align: center;
    margin-top: 3rem;
    font-size: 3rem;
    font-weight: 500;
    color: #00504e;
  }
}

/***** End CCOcontainer Section *****/

/***** CoreValues Section *****/

.CoreValues {
  height: fit-content;
  background-color: #00504e;
  padding: 5rem;

  & header {
    text-align: center;
    padding: 0rem 0 4rem 0;
    font-size: 2rem;
    color: var(--white-Color);
  }

  & .cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
    align-items: center;

    & .cards {
      width: 42rem;
      display: flex;
      gap: 1rem;
      color: #fff;

      & .icon {
        color: #ff962c;
        font-size: 5rem;
      }

      & .title {
        font-weight: bold;
        font-size: 2rem;
      }

      & .contents {
        font-size: 1.8rem;
      }
    }
  }
}

/***** End CoreValues Section *****/

/***** Home Section *****/

.custom-bg {
  background: #00504e4d !important;
  color: #fff;
  position: relative;
}
.ms-5 {
  margin-left: 9rem !important;
}
.custom-card {
  position: relative;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  & h1 {
    font-size: 3.3rem;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000a9;
    z-index: -1;
  }
}
.custom-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.custom-card .card-body {
  text-align: center;
  background-color: none !important;
  position: relative;

  & .vectorContainer {
    width: 2.7rem;
    height: 2.7rem;
    z-index: 2;
    position: absolute;
    right: 0;
    bottom: -1rem;
  }
}

.container {
  width: 40% !important;
}

/***** End Home Section *****/

/***** Responsiveness Section *****/

@media screen and (width < 1200px) {
  .navbar-toggler {
    display: block;
  }
  .navLinks {
    display: none !important;
  }
}

@media screen and (width < 1048px) {
  :root {
    font-size: 59%;
  }
  .container {
    width: 55% !important;
  }
}

@media screen and (width < 988px) {
  nav {
    justify-content: space-between;

    & .logoContainer {
      flex: 0;
    }

    & .rightContainer {
      & .navLinks {
        display: none;
      }

      & .btnContainer {
        & .menu {
          display: block;
        }
      }
    }
  }

  :root {
    font-size: 57%;
  }

  .CCOcontainer {
    & .msgContainer {
      grid-template-columns: 1fr;
      gap: 4rem;
    }
  }
}

@media screen and (width < 860px) {
  .about-container {
    padding: 3rem;
  }
  .container {
    width: 75% !important;
  }
}

@media screen and (width < 788px) {
  :root {
    font-size: 55%;
  }

  .about-container {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
  .visionContainer {
    & .mainContent {
      max-width: 96%;
    }
  }

  .whyQoacha {
    & .bg {
      width: 100%;
    }
  }
}

@media screen and (width < 648px) {
  :root {
    font-size: 50%;
  }
  .visionContainer {
    & .content {
      max-width: 100%;
    }
  }
  .CCOcontainer {
    & .invite {
      max-width: 90%;
    }
  }
  .container {
    width: 95% !important;
  }
  .card {
    width: 100% !important;
  }
  .pd {
    padding: 4rem !important;
  }
}

@media screen and (width < 372px) {
  :root {
    font-size: 46%;
  }
}
/***** End Responsiveness Section *****/
